/src/main/webapp/WEB-INF/lib/poi-3.13-20150929.jar
/src/main/webapp/WEB-INF/lib/poi-scratchpad-3.13-20150929.jar
/src/main/webapp/WEB-INF/lib/poi-ooxml-schemas-3.13-20150929.jar
/src/main/webapp/WEB-INF/lib/poi-excelant-3.13-20150929.jar
/src/main/webapp/WEB-INF/lib/poi-ooxml-3.13-20150929.jar
/src/main/webapp/WEB-INF/lib/xmlbeans-2.6.0.jar
/src/main/webapp/WEB-INF/lib/ojdbc6-12.1.0.1-atlassian-hosted.jar
/.idea
out
build/
.gradle
/src/main/webapp/www/ext/
/src/main/webapp/www/.sencha/
/src/main/webapp/www/build/

/src/main/webapp/www/sass/etc/
/src/main/webapp/www/sass/example/
/src/main/webapp/www/modern.json
/src/main/webapp/www/build.xml
/src/main/webapp/www/bootstrap.css
/src/main/webapp/www/classic.json
/src/main/webapp/www/bootstrap.js
/src/main/webapp/w/js/node_modules/
/src/main/webapp/w/js/tmp/
/src/main/webapp/w/sftp-config.json
