html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin:0; 
    height:100%;
    overflow: hidden;
}

a:link {
    text-decoration: none;
    color: #4F5199;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.company-logo {
    height: 65px;
}

#content {
    overflow: auto;
}

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

.login_bg {
    /*background: url(../img/bg.jpg);*/
    background-position: center;
    background-repeat: no-repeat
}

.tool_button {
    padding-left: 5px;
    font-size: 16px;
    text-transform: none;
}

.ui-grid .ui-grid-render-container-body .ui-grid-viewport {
    overflow: auto !important;
    /* or use: overflow-x: hide!important; */
}

.ui-grid-pager-control button {
    height: 40px;
}

.tool_bar_divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.max_height {
    height: 100%;
}

.max_height2 {
    height: 99%;
}
.max_height3 {
    max-height: 92%;
}

.pull_center {
    text-align: center;
}
.upload_file{
    min-width: 380px;
}
.tab_tool{
    min-height:107px!important;
}
md-input-container.md-input-focused>label{
    font-size: 20px;
}
md-input-container.md-input-has-value>label{
    font-size: 20px;
}
md-input-container>label{
    padding-bottom:3px;
}
/*md-tab-item>span.ng-scope{
    
}*/
.md-tab{
    font-size: 16px;
    font-weight: bold;
}

.ui-grid-row:last-child > div > div > div {
    border-bottom: 1px solid rgba(150, 147, 147, 0.28) !important;
}

/************************************************************/

.md-button {
    padding: 0 16px;
    margin-top: 6px;
    margin-right: 8px;
    margin-bottom: 6px;
    margin-left: 0px;
    height:46px;
}

md-tabs {
    md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
        min-height: 0px;
    }
}

.lf-ng-md-file-input .lf-ng-md-file-input-container {
    -moz-border-radius: 5px;
    -webkit-border-radius: 1px;
    border-radius: 0px;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
}
.lf-ng-md-file-input .lf-caption{
    background-image: url(../img/excel.png);
}
.lf-ng-md-file-input-container .md-raised.lf-ng-md-file-input-button{
    height:46px;
}

.our-lf-browse {
    content: "\f115";
}

.query-text {
    top: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.table {
    border: 1px solid #cad9ea;
    color: #666;
    table-layout: fixed;
    empty-cells: show;
    border-collapse: collapse;
    margin: 0 auto;
}

.table th {
    background-repeat: repeat-x;
    height: 30px;
}

.table td,
.table th {
    border: 1px solid #cad9ea;
    padding: 0 1em 0;
    text-align:center;
}

.table tr.alter {
    background-color: #f5fafe;
}

.xd_tool_bar {
    height: 58px;
    max-height:58px;
    overflow: hidden;
}
.item_tool{
    margin-bottom:60px;
}
.supplier_img{
    cursor: pointer;
    color:blue!important;
}
