<div layout="row">
    <md-input-container flex>
        <label>组编号</label>
        <input ng-model="modal.data.groupNo" type="text" required>
    </md-input-container>
    <md-input-container flex>
        <label>参数名</label>
        <input ng-model="modal.data.confName" type="text" required>
    </md-input-container>
</div>
<div layout="row">
    <md-input-container flex>
        <label>参数值</label>
        <input ng-model="modal.data.confValue" type="text" required>
    </md-input-container>
    <md-input-container flex>
        <label>描述</label>
        <input ng-model="modal.data.confDesc" type="text">
    </md-input-container>
</div>
