<div layout="row">
    <md-input-container flex>
        <label>角色名</label>
        <input ng-model="modal.data.name" type="text" required>
    </md-input-container>
</div>
<div layout="row">
    <md-input-container flex>
        <md-select flex placeholder="部门" ng-model="modal.data.dept" required>
            <md-option ng-repeat="dept in modal.depts" ng-value="dept">{{dept.name}}</md-option>
        </md-select>
    </md-input-container>
</div>
<div layout="row">
    <multiselect-searchtree flex data-input-model="modal.mods" multi-select="true" data-callback="modal.treeCallback(item, selectedItems)" data-select-only-leafs="false" extra-buttons="false" filter-type="hidden"></multiselect-searchtree>
</div>
