.md-button {
    height:0;
}
.draw_heart {
    min-height: 5px;
    min-width: 0;
    color: rgb(255, 128, 171);
    padding: 0 0 2px 0;
    font-size: 19px;
    margin-top: auto;
}

.draw_star {
    min-height: 5px;
    min-width: 0;
    color: #1e88e5;
    padding: 0 0 2px 0;
    font-size: 19px;
    margin-top: auto;
}

.arrow-up-btn {
    min-height: 5px;
    min-width: 0;
    margin-top: auto;
    font-size: 19px;
    color: rgb(255, 128, 171);
}
.arrow-down-btn {
    min-height: 5px;
    min-width: 0;
    font-size: 19px;
    margin-top: auto;
}

._md-center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}