<div layout="row">
    <md-input-container flex>
        <label>姓名</label>
        <input name="fullName" ng-model="modal.data.fullName" type="text" required>
        <div ng-messages="commonForm.fullName.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">用户名不能为空</div>
        </div>
    </md-input-container>

    <md-input-container flex>
        <label>员工编号</label>
        <input name="code" ng-model="modal.data.code" type="text" required>
        <div ng-messages="commonForm.code.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">员工编号不能为空</div>
        </div>
    </md-input-container>
</div>
<div layout="row">
    <md-input-container flex>
        <label>所属机构</label>
        <md-select name="organization" ng-model="modal.data.organization" required>
            <md-option ng-repeat="org in modal.organizations" ng-value="org.index">{{org.value}}</md-option>
        </md-select>
        <div ng-messages="commonForm.organization.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">所属机构不能为空</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>就职地点</label>
        <input name="location" ng-model="modal.data.location" type="text">
    </md-input-container>
</div>
<div layout="row">
    <md-input-container flex>
        <label>性别</label>
        <md-select name="sex" ng-model="modal.data.user.sex" required>
            <md-option ng-repeat="t in modal.sexs" ng-value="t.index">{{t.value}}</md-option>
        </md-select>
        <div ng-messages="commonForm.sex.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">性别不能为空</div>
        </div>
    </md-input-container>

    <md-input-container flex>
        <label>岗位名称</label>
        <input name="phone" ng-model="modal.data.jobName" type="text">
    </md-input-container>
</div>
<div layout="row">
    <md-input-container flex>
        <label>用工性质</label>
        <md-select name="contractType" ng-model="modal.data.contractType" required>
            <md-option ng-repeat="t in modal.contractTypes" ng-value="t.index">{{t.value}}</md-option>
        </md-select>

        <div ng-messages="commonForm.contractType.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">用工性质不能为空</div>
        </div>
    </md-input-container>
    <md-input-container flex>
        <label>在职状态</label>
        <md-select name="inService" ng-model="modal.data.inService" required>
            <md-option ng-repeat="t in modal.confirms" ng-value="t.index">{{t.value}}</md-option>
        </md-select>
        <div ng-messages="commonForm.inService.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">在职状态不能为空</div>
        </div>
    </md-input-container>
</div>
<div layout="row" ng-if="!(modal.data.id)">
    <md-input-container flex>
        <label>密码</label>
        <input ng-model="modal.data.user.password" type="password" required>
    </md-input-container>
    <md-input-container flex>
        <label>再次输入</label>
        <input ng-model="modal.data.user.password2" type="password" required>
    </md-input-container>
    <p ng-if="!modal.canGo(modal.data)" style="color:red;">
        密码输入不一致
    </p>
</div>

<div layout="row">
    <md-select flex placeholder="部门" ng-model="modal.data.user.dept" required>
        <md-option ng-repeat="dept in modal.depts" ng-value="dept">{{dept.name}}</md-option>
    </md-select>
    <md-select flex placeholder="角色" ng-model="modal.data.user.roles" multiple>
        <md-option ng-repeat="role in modal.data.user.dept.roles" ng-value="role">{{role.name}}</md-option>
    </md-select required>
</div>
